<header class="app-header">
  <div class="header-left">
    <a class="logo" routerLink="/">TravelRec</a>
  </div>

  <div class="header-right">
    @if (isLoggedIn) {
      <div class="user-profile" (click)="toggleMenu()">
        <span class="user-name">{{ userName }}</span>
        @if (avatarUrl) {
          <img [src]="avatarUrl" [alt]="userName" class="avatar">
        } @else {
          <span class="avatar avatar-initials">{{ getInitials() }}</span>
        }
      </div>
    } @else {
      <button class="login-btn" (click)="goToLogin()">Log In</button>
    }
  </div>
</header>